*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100vh;
    min-width: 650px;
}

.app-container {
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.status-container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.status-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

.status-text-container {
    margin-right: 10px;
}

.status-title {
    font-size: 14px;
    color: rgb(205, 205, 205);
    margin-bottom: 3px;
}

.status-status {
    font-size: 10px;
    color: rgb(114, 112, 112);
}

.status-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: 0px 5px;
}

.status-color-green {
    background-color: rgb(12, 218, 12);
}
.status-color-yellow {
    background-color: rgb(233, 216, 30);
}
.status-color-red {
    background-color: rgb(218, 12, 12);
}

.ip-info-container {
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}

.ip-text {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(205, 205, 205);
}

.ip-text-title {
    font-size: 12px;
    margin-right: 10px;
    color: rgb(145, 145, 145);
    text-transform: uppercase;
}

.messages-window {
    position: relative;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    border: 1px solid #767676;
    border-radius: 5px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 25px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.messages-window-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 30%, rgb(50, 50, 50) 100%);
}

.message-text {
    font-size: 11px;
    margin-bottom: 5px;
    color: rgb(205, 205, 205);
}

.message-text-green {
    color: rgb(106, 205, 36);
}

.message-text-red {
    color: rgb(204, 91, 43);
}

.message-text-title {
    color: rgb(145, 145, 145);
    font-weight: bold;
    margin-right: 11px;
}

.shot-status-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.shot-status {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.credit-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    color: rgb(109, 109, 109);
}

a {
    font-size: 10px;
    color: rgb(109, 109, 109);
}

.send-test-shot {
    border-radius: 5px;
    background-color: rgba(150, 244, 122, 0.673);
    border: 2px solid rgba(98, 247, 53, 1);
    cursor: pointer;
    padding: 10px 25px;
}

.send-test-shot:active {
    border-radius: 5px;
    background-color: rgba(150, 244, 122, 0.397);
    border: 2px solid rgba(98, 247, 53, 0.632);
    cursor: pointer;
    padding: 10px 25px;
}
.send-test-shot-disabled {
    border-radius: 5px;
    background-color: rgba(104, 104, 104, 0.673);
    border: 2px solid rgb(58, 58, 58);
    padding: 10px 25px;
}

.send-test-shot p {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(31, 31, 31);
}
.send-test-shot-disabled p {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
}

.disabled {
    cursor: not-allowed;
}

#ip-settings {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.ip-settings-options-container {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    box-shadow: 2px 0px 18px rgba(4, 4, 4, 0.632);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    visibility: hidden;
}

.ip-option-text {
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(143, 143, 143);
    /* color: rgb(220, 220, 220); */
    /* background-color: red; */
}

.ip-option-text-selected {
    color: rgb(220, 220, 220);
}
