*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100vh;
    min-width: 650px;
}

.app-container {
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.status-container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.status-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

.status-text-container {
    margin-right: 10px;
}

.status-title {
    font-size: 14px;
    color: rgb(205, 205, 205);
    margin-bottom: 3px;
}

.status-status {
    font-size: 10px;
    color: rgb(114, 112, 112);
}

.status-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: 0px 5px;
}

.status-color-green {
    background-color: rgb(12, 218, 12);
}
.status-color-yellow {
    background-color: rgb(233, 216, 30);
}
.status-color-red {
    background-color: rgb(218, 12, 12);
}

.ip-info-container {
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.ip-text {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(205, 205, 205);
}

.ip-text-title {
    font-size: 12px;
    margin-right: 10px;
    color: rgb(145, 145, 145);
    text-transform: uppercase;
}

.messages-window {
    position: relative;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    border: 1px solid #767676;
    border-radius: 5px;
    margin: 50px;
    margin-top: 0px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.messages-window-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 30%, rgb(50, 50, 50) 100%);
}

.message-text {
    font-size: 11px;
    margin-bottom: 5px;
    color: rgb(205, 205, 205);
}

.message-text-green {
    color: rgb(106, 205, 36);
}

.message-text-red {
    color: rgb(204, 91, 43);
}

.message-text-title {
    color: rgb(145, 145, 145);
    font-weight: bold;
    margin-right: 11px;
}

.shot-status-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.shot-status {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.credit-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    color: rgb(109, 109, 109);
}
